logs/
*.log

src/pysdrlib/_ext/cache

*.c
!vendor

# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
src/**/*.so
src/**/*.pyd

# Distribution / packaging
build/
dist/
src/*.egg-info/

# Misc
logs/
.python-version
.pytest_cache/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
