name: Deploy docs

on:
  push:
    branches:
      - main  # Set a branch name to trigger deployment
  pull_request:

permissions:
  contents: read # access to check out code and install dependencies

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install pdoc3
          python -m pip install .

      - name: Build docs
        run: |
            python -m pdoc -o docs --html --force --skip-errors src/pysdrlib

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
